<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		<div id="content">

            <div class="box" id="nome">
                <br>
                <h1 style = "font-family: trebuchet ms">Informações do Aplicativo</h1>
                <br>
                <p style = "font-family: trebuchet ms">O aplicativo tem como objetivo funcionar como um catálogo de filmes, podendo adicionar, editar, remover e ver quais filmes estão disponíveis em um banco de dados.</p>
                <br><br><br>
                <h1 style = "font-family: trebuchet ms">Desenvolvedor</h1>
                <br>
                <p style = "font-family: trebuchet ms">João Pedro dos Santos Faria</p>
            </div>
		</div>
	</body>
</html>