<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                            <li class="alert alert-success">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            <div class="box">
                <br><br>
                <h1 align = "center" style = "font-family: trebuchet ms;">Faça o LogIn e Desfrute de Vários Filmes</h1>
                <br>
                <form method="POST" action="{{ url_for('conectar') }}">
                    <input type="hidden" name="next" value="{{ next or url_for('filmes') }}">
                    <p align = "center" style = "font-family: trebuchet ms" class="text-center"><label>Endereço de E-Mail:</label> <input class="form-control form-control-lg" type="email" name="email" required></p>
                    <p align = "center" style = "font-family: trebuchet ms" class="text-center"><label>Nome de Usuário:</label> <input class="form-control form-control-lg" type="text" name="nome_usuario" required></p>
                    <p align = "center" style = "font-family: trebuchet ms" class="text-center"><label>Senha:</label> <input class="form-control form-control-lg" type="password" name="senha" required></p>
                    <br>
                    <p align = "center" style = "font-family: trebuchet ms"><button class="btn btn-info" type="submit">Entrar</button></p>
                </form>
            </div>
        </div>
    </body>
</html>