{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('adicionarcomentario') }}" method="post">
        <fieldset>
          <input type="hidden" name="id_comentario">

          <div class="form-group">
            <label for="nome_filme" style="font-family: trebuchet ms;">Comentário</label>
            <input type="text" id="nome_filme" name="nome_filme" class="form-control">
          </div>
          <br>
          <button type="submit" class="btn btn-info btn-salvar">Salvar</button>
        </fieldset>
      </form>
{% endblock %}